:root
{
	cursor: default;
	--Splt0: 20%;/*Stack Text Seperator*/
	--Splt1: 93.6%;/*Stack Consol Seperator*/
	--Splt2: 70%;/*View Text Seperator*/
	--splitter: 10px;
}

body{
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: sans-serif;
	font-size: var(--ID1);
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
}
a
{
	color: #ffa;
}
.credit
{
	display: inline-block;
	padding: 2px;
	border: 0 solid #fff;
	border-width: 0 0 0 10px;
	font-size: 10;
	width: 30%;
}
.col0
{
	color: #000;
}
/*Common Used Styles*/
#error
{
	color: var(--ID6);
}
#func
{
	color: var(--ID5);
}
.overflow-hidden
{
	overflow: hidden;
}
.max-width
{
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	padding-bottom: 10px;
}
.hiddenObj
{
	animation: slide-out 0.4s forwards;
}
.visibleObj
{
	animation: slide-in 0.5s forwards;
}
@keyframes slide-in{
	from{height: 0%;}
	to{height: 100%;}
}
@keyframes slide-out{
	from{height: 100%;}
	to{height: 0%;}
}
.active
{
	filter: hue-rotate(100deg);
}
.hover0{ user-select: none;}.hover0:hover
{
	filter: hue-rotate(100deg);
}
/*Menu*/
.Menu
{
	width: 100%;
	min-width: 400px;
	overflow-y: scroll;
	font-size: 16;
	background-color: #0f0f20f0;
	z-index: 20;
	grid-column: 1;
	grid-row: 2;
}
.M_Preferences
{
	display: inline-block;
}
.M_W{
	width: 300px;
}
.M_Color{
	float: right;
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
}
.id_Text{
	display: block;
	width: 150px;
}
/*Buttons*/
.S_Buttons{
	width: 100%;
	background-color: rgba(50,50,50);
}
.button0{
	display: inline-block;
	background-color: #50ff50;
	padding: 10px;
}
/*Editor*/
.S_Text{
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	resize: none;
	width: 100%;
	height: 100%;
	background-color: var(--ID2);
	border: none;
	color: var(--ID3);
	font-size: var(--ID1);
}
/*Stack*/
.S_Add_Node{
	padding: 10px;
	width: 100%;
	background-color: #50ff50;
	border-radius: 10px;
	min-width: 100px;
	font-size: 15px;
}
.S_Node{
	border-radius: 10px 0 10px 10px;
	margin: 5px;
	background-color: lightblue;
	cursor: move;
	overflow: hidden;
	min-width: 100px;
}
.Node_Delete{
	color: #fff;
	float: right;
	border: 0;
	background-color: #0000;
	font-size: 20px;
}
.Node_Delete:hover{
	background-color: #f00f;
}
.Node_Select{
	border-radius: 5px 0 0 0;
	padding: 4.5px;
	border: 0;
}
.Node_Container{
	display:inline-block;
	width: 100%;
	background-color:gainsboro;
}
.stack {
	padding: 10px;
	overflow: hidden;
	overflow-y:auto;
	background-color: #555555;
	grid-column: 1;
}
/*Console*/
.S_Console{
	overflow-y: hidden;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: grid;
	grid-auto-rows: 1fr auto;
}
.S_C_Edit{
	font-size: var(--ID1);
	background-color: var(--ID8);
	color: var(--ID9);
	grid-row: 2;
	border: 0;
}
.S_C_Text{
	background-color: var(--ID4);
	height: 100%;/*var(--ID7);*/
	overflow-y: hidden;
	color: #fff;
	grid-row: 1;
}
.S_C_Toggle{
	background-color: #50ff50;
}


/*New*/
.wrapper{
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: var(--Splt2) var(--splitter) auto;
	grid-auto-rows: var(--Splt1) var(--splitter) auto;
}
#splitter{
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splitter{
}
.splt_Y0{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splt_Y1{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
	grid-column: 2;
	grid-row: 1 / 4;
}
.splt_X0{
	cursor: row-resize;
	user-select: none;
	background-color: aqua;
	height: var(--splitter);
	width: 100%;
	grid-column: 1;
	grid-row: 2;
}
.Edit{
	overflow: hidden;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: var(--Splt0) var(--splitter) auto;
	grid-auto-rows: auto;
}
.view{
	overflow: hidden;
	background-color: lightblue;
	grid-column: 3;
	grid-row: 1 / 4;
}